<h1>Create Staff Profile</h1>
<div class="row">
  <div class="span10"> 
    <%= form_for( @staff, :remote => true ) do |f| %>
    <div class="row">
      <div class="span5">
        <%= f.label :name , "Staff Members Name:" %>
        <%= f.text_field :name %>
      </div>
      <div class="span5">
        <%= f.label :title , "Staff Members Title:"%>
        <%= f.text_field :title %>
      </div>
    </div>
    <div class="row">
      <div class="span10">
        <%= f.label :bio , "Staff Bio:" %>
        <%= f.text_area :bio , :rows => 4 %>
      </div>
    </div>
    <center><%= f.submit "Create This Profile" %></center>
    <% end %>
  </div>
</div>