<h1>Edit The Product</h1>
<div class="row">
  <div class="span10">
  <%= form_for(@product, :remote => true) do |f|  %>
    <div class="row">
      <div class="span5">
        <%= f.label :name, "Product Name:"%>
        <%= f.text_field :name %>
      </div>
      <div class="span5">
        
      </div>
    </div>
    <div class="row">
      <div class="span5">
        <%= f.label :price, "Product Price:" %>
        <%= f.text_field :price %>
      </div>
      <div class="span5">
        <%= f.label :sprice, "Special Product Price:" %>
        <%= f.text_field :sprice %>
      </div>
    </div>
    <div class="row">
      <div class="span10">
        <%= f.label :descrip, "Description:" %>
        <%= f.text_area :descrip, :rows => 4 %>
      </div>
    </div>
    <div class="row">
      <div class="span10">
        <div id="picpic">
          <div id="oldinner" ><center><%= f.label "Current Image:" %> 
            <%= image_tag "products/#{f.object.pro_image}"  %>
           <%= f.label :pro_image, f.object.pro_image %></center>
          </div>
        </div>
        <div id="listbox_pro" >
          <%= f.text_field :pro_image, :readonly => true %>
          <%= select_tag "images", options_for_select(@files), :size => 10, :id => "lbx_pro", :onchange => "up();" %>
        </div>
        <div id="picpic" >
          <div id="newinner"><center><%= f.label "New Image:" %>
            <%= image_tag "products/#{f.object.pro_image}", :id => "newpic"  %>
            <%= f.label :pro_image, f.object.pro_image, :id => "newlabel" %></center>
          </div> 
        </div>
      </div>
    </div>
    
<center><%= f.submit "Update Product" %></center>
<% end %>
  </div>
</div>