<h1>Edit The Products</h1>
<center>
  <ul>
    <li><%= link_to "Create A Product", { :controller => 'products', :action => 'new' }, :remote => true %></li>
    <li>&nbsp|</li><li>&nbsp Upload Image</li>
  </ul>
</center><br>
<center>
<% if spec_it.nil? %>
  <label>No special currently set</label>
  <% elsif spec_it.spec.to_date > Date.today %>
  <label> There is currently an active special set <%= @spec.name %></label>
  <% elsif spec_it.spec.to_date < Date.today %>
  <label> There is currently an expired special set <%= @spec.name %></label>
  <% end %>
</center><br>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div id="AccordionContainer" class="AccordionContainer">
<%= render "slider", :id => '1', :prod => 'Pies', :type => @pies %>
<%= render "slider", :id => '2', :prod => 'Breads', :type => @breads %>
<%= render "slider", :id => '3', :prod => 'Cakes and Sweets', :type => @sweets %>
<%= render "slider", :id => '4', :prod => 'Sandwich', :type => @sands %>
<%= render "slider", :id => '5', :prod => 'Misc', :type => @miscs %>
</div>
</div>