<h1>Create A New Product</h1>
<div class="row">
  <div class="span10"> 
    <%= form_for( @product, :remote => true ) do |f| %>
    <div class="row">
      <div class="span5">
        <%= f.label :pro_type, "Product Type:" %>
        <%= f.select :pro_type, "<option>Pie</option><option>Sweet</option><option>Bread</option><option>Misc</option><option>Sand</option>".html_safe, :prompt => "Select something" %>
      </div>
      <div class="span5">
        <%= f.label :name, "Product Name:"%>
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row">
      <div class="span5">
        <%= f.label :price, "Product Price:" %>
        <%= f.text_field :price %>
      </div>
      <div class="span5">
        <%= f.label :sprice, "Special Product Price:" %>
        <%= f.text_field :sprice %>
      </div>
    </div>
    <div class="row">
      <div class="span10">
        <%= f.label :descrip, "Description:" %>
        <%= f.text_area :descrip, :rows => 4 %>
      </div>
    </div>
<center><%= f.submit "Create This Product" %></center>
<% end %>
  </div>
</div>