<!DOCTYPE html>
<html>
  <head>
  <title>Cuba</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
   
  </head>
  <body>
    <noscript>
      <div id="gotahaveit">
        <p>To Utilize The Content Management System Of This 
        Site Javascript Must Be Enabled <br> Please Enable Javascript And Refresh Your Browser</p>
      </div>
    </noscript>
    <%= render 'layouts/back_end_top'%>
    <%= yield %>
    <%= render 'layouts/back_end_bottom'%>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
